@import '../../abstracts/variables.scss';

.custom-generator {
    &__base {
        background-color: lightsteelblue;
        width: 99.99%;
        min-width: $tablet;
        height: 600px;
        margin: auto;
        padding: $basesize*3;
        box-sizing: border-box;

        @media (min-width: $desktop) {
            height: 900px;
        }
    }

    &__title {
        text-align: center;
    }

    &__instructions {
        text-align: center;
    }

    &__buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 99.99%;
        margin: 24px 0;

        > button {
            margin: $basesize*3;
        }
    }

    &__quotes {
        display: flex;
        flex-direction: column;

        >p {
            text-align: center;
        }

    }
}