@import '../../common/theme/variables.scss';

.page {
    &__base {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: $baseline*2;
        margin: 0;

        @media (min-width: $desktop) {
            font-size: $baseline*3;
        }
    }

    &__title {
        text-align: center;
        font-size: $baseline*5;

        @media (min-width: $desktop) {
            font-size: $baseline*6;
        }
    }
}