@import '../../abstracts/variables.scss';

.simple-generator {
    &__base {
        background-color: lightsteelblue;
        width: 99.99%;
        min-width: $tablet;
        height: 230px;
        margin: $basesize*3 auto;
        padding: $basesize*4;
        box-sizing: border-box;

        @media (min-width: $desktop) {
            height: 350px;
        }
    }

    &__title {
        text-align: center;
    }

    &__instructions {       
        text-align: center;
    }

    &__quote {
        margin: $basesize*2;
        text-align: center;
    }
}